body{
	background: blue;
	color: whitesmoke;
}
h1{
	background:whitesmoke;
	color: black;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
	padding:-2px;
	word-wrap: break-word;
	padding-bottom: 3px;
}
.input{
	height: 34px;
	padding-left: 12px;
	padding-right: 12px;
	border-radius: 12px;
}

#submit{
	background:green;
	color: whitesmoke;
	margin:10px;
	padding: 12px;
	border-style: ridge;
}
#submit:hover{
	cursor: pointer;
	background-color: orange
}
#dummyOutput{
	font-style: italic;
	color: green;
	background: whitesmoke;
	padding: 12px;
}
ol{
	background: #4169E1;
	padding-bottom: 12px;
	padding-top:12px;
	border-bottom-left-radius: 9px;
	border-bottom-right-radius: 9px;
}
#remarks{
	color: whitesmoke;
	font-style: italic;
	background: whitesmoke;

}
